@model FiapSmartCity.Models.Pessoa

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pessoa - Consultar</title>
</head>
<body>
    <h1>Pessoa - Consultar</h1>
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label><b>Nome:</b></label>
            <div class="col-md-10">
                <span>@Model.NomePessoa</span>
            </div>
        </div>

        <div class="form-group">
            <label><b>Endereço:</b></label>
            <div class="col-md-10">
                <span>@Model.EnderecoPessoa</span>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <a asp-controller="Pessoa" asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
    
    <hr />

</body>
</html>