@model FiapSmartCity.Models.Pet

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pet - Consultar</title>
</head>
<body>
    <h1>Pet - Consultar</h1>
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label><b>Nome do pet :</b></label>
            <div class="col-md-10">
                <span>@Model.NomePet</span>
            </div>
        </div>

        <hr />
    </div>
    <div>
        <a asp-controller="Pet" asp-action="Index">Voltar</a>
    </div>

</body>
</html>